<Files ~ "^.(htaccess|htpasswd)$">
deny from all
</Files>
AuthUserFile /app/public/.htpasswd
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user
RewriteRule ^(.*) $1 [R=301,L]
order deny,allow
